@import url('https://fonts.googleapis.com/css?family=Orbitron:900|Roboto+Condensed:400,700&display=swap');

* {
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #FFFCF9;
   height: 100vh;
   font-family: 'Roboto Condensed', sans-serif;
}

button {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 4vw;
   padding: 1vw 3vw;
   background-color: #EAE8FF;
}

.timer {
   background: #191923;
   display: flex;
   padding: 10vw 8vw;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.digits {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;

   text-align: center;
   font-family: 'Orbitron', sans-serifs;

   position: relative;
   left: -0.5vw;
}

.digits div {
   width: 10vw;
}

.digit {
   color: #EAE8FF;
   display: inline-block;
   font-size: 12vw;
}

.control-buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.hit-max {
   color: #FF6978;
}